[submodule "jewel"]
	path = jewel
	url = https://github.com/JetBrains/jewel.git
[submodule "package-search-api-models"]
	path = package-search-api-models
	url = https://github.com/JetBrains/package-search-api-models.git
[submodule "package-search-version-utils"]
	path = package-search-version-utils
	url = https://github.com/JetBrains/package-search-version-utils.git
[submodule "packagesearch-version-catalog"]
	path = packagesearch-version-catalog
	url = https://github.com/lamba92/packagesearch-version-catalog
[submodule "packagesearch-build-config"]
	path = packagesearch-build-config
	url = https://github.com/lamba92/packagesearch-build-config.git
